<rsl xmlns="{{ meta.rsl_standard }}" version="{{ meta.version }}">
  <content url="{{ meta.repository }}">
    <ai-policy>
      {% for p in permissions.usage -%}
      {% if p == 'train-ai' -%}
      <training>permitted</training>
      {% else -%}
      <{{ p }}>permitted</{{ p }}>
      {% endif -%}
      {% endfor %}

      <agents>
        {% for agent in permissions.allowed_agents -%}
        <allowed>{{ agent }}</allowed>
        {% endfor %}
      </agents>

      <license-standard>{{ meta.license_strategy.default_license }}</license-standard>
      <license-strategy>
        <type>{{ meta.license_strategy.type }}</type>
        <secondary>{{ meta.license_strategy.secondary_license }}</secondary>
      </license-strategy>

      <ethics>
        <url>{{ ethics.framework.url }}</url>
        <binding>{{ ethics.binding | lower }}</binding>
      </ethics>

      <attribution>
        <required>{{ requirements.attribution }}</required>
        <format><![CDATA[
{{ attribution.minimal | trim }}
]]></format>
      </attribution>

      <rights-holder>
        <name>{{ organization.author }}</name>
        <organization>{{ organization.rights_holder }}</organization>
        <email>{{ organization.contact_email }}</email>
        <website>{{ organization.website }}</website>
      </rights-holder>

    </ai-policy>
  </content>
</rsl>
