# SRAGI.org - Robots and AI Policy
# Updated: {{ meta.last_updated }}

User-agent: *
Disallow:

# License and AI Policy
License: {{ meta.source_url }}/LICENSE-RSL.xml
AI-Policy: {{ meta.source_url }}/ai-policy.xml
Sitemap: {{ meta.source_url }}/sitemap.xml

# Documentation


# Contact
# {{ organization.contact_email }}
